<ion-scroll zooming="false" has-bouncing="true" direction="xy">
	<!-- <div class="row">
		<div class="col">
			<img class="img-responsive static-img" src="src/images/gym.jpg" alt="gym">
		</div>
	</div> -->
<!-- <div class="arm-body">
	<div class="row responsive">
		<div class="col">
			<ion-list>
				<ion-item>
				<h3> ARMS </h3>
			</ion-item>
		</ion-list>
			</div>
		</div>
	</div> -->
		<!-- <div class="row responsive">
			<div class="col">
				<ion-list>
					<ion-item ng-repeat="arm.listArms()">
					arms
					</ion-item>
					<ion-item ng-click="showExercises = ! showExercises">
					{{workout.WORKOUT}}
				</ion-item>
				</ion-list>
			</div>
		</div>
</div>  -->
				
				
	<h3 class="landing-welcome"> Arms Collection </h3>			
				
				
			<div ng-model="arm.listArms">	
			<!-- <button class="button button-large" ng-click="arm.listArms()"> Arms Collection </button> -->
					<ion-list class="arm-list" ng-repeat="(Workouts, workout_name) in Workouts.completeArmsObj">
						<ion-item>{{Workouts.workout_name}}</ion-item>
					</ion-list>
						<!-- <li class="list-group-item results-button" ng-click="showExercises = ! 							showExercises">{{workout.WORKOUT}}</li>
							<ul ng-show="showExercises">
								<li ng-repeat="(id, exercise) in workout.EXERCISES"> -->
					  			<!-- <div class="row">
					  				<div class="well well-sm col">
										<table class="table table-bordered">
										<tbody>
											<tr class="danger"><th>Exercise</th>
																<th> Sets </th>
																<th> # of Reps </th>
																<th>Notes</th>
											</tr>
											<tr>
												<td>{{exercise.EXERCISE}}</td>
												<td>{{exercise.SETS}}</td>
												<td>{{exercise.REPS}} </td>
												<td>{{exercise.NOTES}}</td>
											</tr>
										</tbody> -->
					 			</li>
							</ul>
			 		  					<!-- </table>
			 		  			</div>
			 		  		</div> -->
		 			</li>
			</ul>
		</div>
	</div>
</ion-scroll>
