<ion-scroll zooming="false" has-bouncing="true" direction="xy">

<h3 class="landing-welcome"> Arms Collection </h3>
		<div class="row">
			<div class="col">
					<button class="button button-block" aria-label="Toggle ngShow"
					ng-repeat="workout in arm.Arms"
					ng-class='{"highlight_row": arm.selectedWorkout.workout_name === workout.workout_name}'
					ng-click="arm.deezArms(workout)">{{workout.workout_name}}
					</button>
					<div ng-show="arm.workout" ng-repeat="exercise in arm.workout.exercise">
							<p>EXERCISE:{{exercise.exercise}}</p>
							<p>NO. OF SETS:{{exercise.number_of_sets}}</p>
							<p>WEIGHT: {{exercise.weight}}</p>
							<p>REPS: {{exercise.reps}}</p>
							<p>NOTES: {{exercise.notes}}</p>
					</div>
			</div>
	</div>

	<!-- Click me: <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"><br/>
<div>
  Show:
  <div class="check-element animate-hide" ng-show="checked">
    <span class="glyphicon glyphicon-thumbs-up"></span> I show up when your checkbox is checked.
  </div>
</div>
<div>
  Hide:
  <div class="check-element animate-hide" ng-hide="checked">
    <span class="glyphicon glyphicon-thumbs-down"></span> I hide when your checkbox is checked.
  </div>
</div> -->

	<!-- class="workout-names" -->
		<!-- ng-click="showExercises = ! showExercises" -->
 <!-- ng-click="arm.selectExercise(workout)" -->
		<!-- <pre>
			{{arm.selectedWorkout.exercise | json}}
		 </pre> -->



						<!-- <li class="list-group-item results-button" ng-click="showExercises = ! showExercises">{{workout.WORKOUT}}</li>
							<ul ng-show="showExercises">
								<li ng-repeat="(id, exercise) in workout.EXERCISES"> -->
					  			<!-- <div class="row">
					  				<div class="well well-sm col">
										<table class="table table-bordered">
									<tbody>
											<tr class="danger"><th>Exercise</th>
																<th> Sets </th>
																<th> # of Reps </th>
																<th>Notes</th>
											</tr>
											<tr>
												<td>{{exercise.EXERCISE}}</td>
												<td>{{exercise.SETS}}</td>
												<td>{{exercise.REPS}} </td>
												<td>{{exercise.NOTES}}</td>
											</tr>
										</tbody> -->
					 			<!-- </li>
							</ul> -->
			 		  					<!-- </table>
			 		  			</div>
			 		  		</div> -->
		 			<!-- </li>
			</ul>
		</div>
	</div> -->
</ion-scroll>
