<ion-scroll zooming="false" has-bouncing="true" direction="xy" style="width: auto; height: 500px;">
<h3 class="landing-welcome"> Back Collection </h3>
		<div class="row">
			<div class="col">
				<ion-list>
					<div ng-repeat="workout in back.Back">
						<ion-item class="workout-names"
											ng-click="back.datBack(workout)">
											{{workout.workout_name}}
						</ion-item>
						<ion-item class="exercise-tbl"
											ng-show="back.isGroupShown(workout)"
											ng-repeat="exercise in workout.exercise">
							<p> <strong class="bold">Exercise:</strong>
								<div class="detail"> {{exercise.exercise}}</div></p>
							<p> <strong class="bold"> No. of sets:</strong>
								<div class="detail">{{exercise.number_of_sets}}</div></p>
							<p> <strong class="bold">Weight:</strong>
								<div class="detail">{{exercise.weight}}</div></p>
							<p> <strong class="bold">Reps:</strong>
								<div class="detail"> {{exercise.reps}}</div> </p>
							<p> <strong class="bold">Notes: </strong>
								<div class="detail">{{exercise.notes}}</div></p>
						</ion-item>
				 </div>
				</ion-list>
</ion-scroll>
