<ion-scroll zooming="false" has-bouncing="false" direction="y" style="width: auto; height: 400px;" scroll-overflow="true">	
<h4 class="landing-welcome"> Welcome to the Team Diesel App!</h4>
	<div class="landing-body">
     <div class="row responsive landing">
        <div class="col">
			<ion-list>
				 <ion-item ui-sref='weekly' class="landing-btns">
				     Weekly Workouts
				 </ion-item>
			</ion-list>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ion-list>
				<ion-item ui-sref='index' class="landing-btns">
				  Workouts by Muscle Group
				</ion-item>
			</ion-list>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ion-list>
				 <ion-item ui-sref='search' class="landing-btns">
				      Workouts by Name
				 </ion-item>
			</ion-list>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ion-list>
				 <ion-item href='http://www.teamdieseltraining.com'class="landing-btns website">
				      Team Diesel Website
				 </ion-item>
			</ion-list>
		</div>
	</div>
</div>
</ion-scroll>
