<ion-scroll zooming="false" direction="xy">	

  <!-- Main content, usually <ion-nav-view> -->
 
	<!-- <div class="row responsive">
		<div class="col">
			<div class="image">
			  <img class="img-responsive" src="img/teamdiesel.jpg">
			  TEAM LOGO GOES HERE
			</div>
		</div>
	</div> -->
<h4 class="landing-welcome"> Welcome to the Team Diesel App!</h4>
	<div class="landing-body">
     <div class="row responsive landing">
        <div class="col">
			<ion-list>
				 <ion-item class="button button-block landing-btns">
				     <a href="/#/weekly"> Weekly Workouts </a>
				 </ion-item>
			</ion-list>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<!-- <button class="button button-block landing-btns"> -->
			<ion-list>
				<ion-item class="button button-block landing-btns">
				    <a href="/#/index"> Workouts by Muscle Group </a>
				</ion-item>
			</ion-list>
		<!-- </button> -->
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ion-list>
				 <ion-item class="button button-block landing-btns">
				     <a href="/#/search"> Workouts by Name </a>
				 </ion-item>
			</ion-list>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ion-list>
				 <ion-item class="button button-block landing-btns website">
				     <a href="http://www.teamdieseltraining.com"> Team Diesel Website </a>
				 </ion-item>
			</ion-list>
		</div>
	</div>
</div>
</ion-scroll>
 </ion-side-menu-content>