<ion-scroll zooming="false" has-boucning="false" direction="y" style="width: auto; height: 400px;" scroll-overflow="true">
	<div class="row">
		<div class="col">
			<h3 class="col-header" ui-sref='index'>
				 Leg Collection </h3>
			<h6> click to go back </h6>
		</div>
	</div>
		<div class="row">
			<div class="col">
				<ion-list>
					<div ng-repeat="workout in legs.Legs">
						<ion-item class="workout-names"
											ng-click="legs.demLegs(workout)">
											{{workout.workout_name}}
						</ion-item>
						<ion-item class="exercise-tbl"
											ng-show="legs.isGroupShown(workout)"
											ng-repeat="exercise in workout.exercise">
							<p> <strong class="bold">Exercise:</strong>
								<div class="detail"> {{exercise.exercise}}</div></p>
							<p> <strong class="bold"> No. of sets:</strong>
								<div class="detail">{{exercise.number_of_sets}}</div></p>
							<p> <strong class="bold">Weight:</strong>
								<div class="detail">{{exercise.weight}}</div></p>
							<p> <strong class="bold">Reps:</strong>
								<div class="detail"> {{exercise.reps}}</div> </p>
							<p> <strong class="bold">Notes: </strong>
								<div class="detail">{{exercise.notes}}</div></p>
						</ion-item>
				 </div>
				</ion-list>
</ion-scroll>
