<ion-scroll zooming="false" has-bouncing="false" direction="y" style="width: auto; height: 400px;" scroll-overflow="true">
  <div class="row">
    <div class="col">
      <div class="list">
        <h2> Profile </h2>
        <label class="item item-input item-floating-label">
        <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input item-floating-label">
        <input type="text" placeholder="Last Name">
        </label>
        <label class="item item-input item-floating-label">
        <input type="text" placeholder="Phone #">
        </label>
        <label class="item item-input item-floating-label">
        <input type="text" placeholder="Email Address">
        </label>
        <label class="item item-input item-floating-label">
        <input type="text" placeholder="Trainer">
        </label>
      </div>
      <a class="button" ui-sref="landing">Save</a>
    </div>
  </div>
</ion-scroll>
