<ion-scroll zooming="false" has-bouncing="true" direction="xy">

<h3 class="landing-welcome"> Shoulder Collection </h3>
		<div class="row">
			<div class="col">
				<ion-list>
					<ion-item ng-repeat="workout in shoulders.Shoulders" class="workout-names"
					          ng-class='{"highlight_row": back.selectedWorkout.workout_name === workout.workout_name}'
					          ng-click="back.selectExercise(workout)">{{workout.workout_name}}
							<div class="row" ng-repeat="exercise in shoulders.Shoulders" ng-click="showExercises = ! showExercises">
								<div class="col" ng-show="showExercises">
									<p>EXERCISE:{{workout.exercise}}</p>
          </ion-item>
									<!-- <ion-item>NO. OF SETS:{{workout.number_of_sets}}</ion-item>
									<ion-item>WEIGHT: {{workout.weight}}</ion-item>
									<ion-item>REPS: {{workout.reps}}</ion-item>
									<ion-item>NOTES: {{workout.notes}}</ion-item> -->

						</div>
				</ion-list>
			</div>
		</div>
</ion-scroll>
