<ion-scroll zooming="false" has-bouncing="true" direction="xy">
	<!-- <div class="row responsive">
		<div class="col">
			<button class="button button-outline button-block button-light">
			   What are you training?
			</button>
		</div>
	</div> -->
     <div class="row responsive training-body">
        <div class="col">
			<ion-list>
				 <ion-item ui-sref='arms' class="training-button">
				    ARMS
				 </ion-item>
			</ion-list>
		</div>
	</div>
	<div class="row responsive">
		<div class="col">
			<!-- <button class="button button-block training-button"> -->
				<ion-list>
				  <ion-item class="button button-block training-button">
				     <a href="/#/legs"> LEGS </a>
				  </ion-item>
				</ion-list>
			<!-- </button> -->
		</div>
	</div>
	<div class="row">
		<div class="col">
			<!-- <button class="button button-block training-button"> -->
				<ion-list>
				  <ion-item class="button button-block training-button">
				     <a href="/#/back"> BACK </a>
				  </ion-item>
				</ion-list>
			<!-- </button> -->
		</div>
	</div>
	<div class="row">
		<div class="col">
			<!-- <button class="button button-block training-button"> -->
				<ion-list>
				  <ion-item class="button button-block training-button">
				     <a href="/#/shoulders"> SHOULDERS </a>
				  </ion-item>
				</ion-list>
			<!-- </button> -->
		</div>
	</div>
	<div class="row">
		<div class="col">
			<!-- <button class="button button-full training-button"> -->
				<ion-list>
				  <ion-item class="button button-block training-button">
				     <a href="/#/chest"> CHEST </a>
				  </ion-item>
				</ion-list>
			<!-- </button> -->
         </div>
     </div>
 	<div class="row">
 		<div class="col">
 			<!-- <button class="button button-full training-button"> -->
 				<ion-list>
 				  <ion-item class="button button-block training-button">
 				     <a href="/#/cardio"> CARDIO & HIIT </a>
 				  </ion-item>
 				</ion-list>
 			<!-- </button> -->
          </div>
      </div>
</ion-scroll>
 