<ion-scroll zooming="false" direction="xy">	
<!-- <h4 class="landing-welcome"> Welcome to the Team Diesel App!</h4> -->
	<div class="landing-body">
     <div class="row responsive landing">
        <div class="col">
			<ion-list>
				 <ion-item ui-sref='arms' class="training-button">
				     ARMS
				 </ion-item>
			</ion-list>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ion-list>
				<ion-item ui-sref='legs' class="training-button">
				 LEGS
				</ion-item>
			</ion-list>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ion-list>
				 <ion-item ui-sref='back' class="training-button">
				      BACK
				 </ion-item>
			</ion-list>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ion-list>
				 <ion-item ui-sref='shoulders'class="training-button">
				      SHOULDERS 
				 </ion-item>
			</ion-list>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ion-list>
				 <ion-item ui-sref='chest'class="training-button">
				      CHEST
				 </ion-item>
			</ion-list>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ion-list>
				 <ion-item ui-sref='cardio'class="training-button">
				      CARDIO/HIIT
				 </ion-item>
			</ion-list>
		</div>
	</div>
</div>
</ion-scroll>