	<div class="row responsive">
		<div class="col">
			<div class="bar bar-header bar-dark">
			  <h1 class="title">What are you training?</h1>
			</div>
		</div>
	</div>
     <div class="row responsive training-body">
        <div class="col">
			<button class="button button-full training-button">
				<ion-list>
				  <ion-item>
				     <a href="/#/arms"> ARMS </a>
				  </ion-item>
				</ion-list>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button class="button button-full training-button">
				<ion-list>
				  <ion-item>
				     <a href="/#/legs"> LEGS </a>
				  </ion-item>
				</ion-list>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button class="button button-full training-button">
				<ion-list>
				  <ion-item>
				     <a href="/#/back"> BACK </a>
				  </ion-item>
				</ion-list>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button class="button button-full training-button">
				<ion-list>
				  <ion-item>
				     <a href="/#/shoulders"> SHOULDERS </a>
				  </ion-item>
				</ion-list>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button class="button button-full training-button">
				<ion-list>
				  <ion-item>
				     <a href="/#/chest"> CHEST </a>
				  </ion-item>
				</ion-list>
			</button>
         </div>
     </div>