<ion-scroll zooming="false" has-bouncing="false" min-zoom="1" max-zoom="2" direction="y" style="width: auto; height: 400px;" scroll-overflow="true">
	<button class="button button-clear button-dark back-weekly" ui-sref='landing'><i class="ion-chevron-left"></i>
		Back
	</button>
			<div class="row">
				<div class="col" ng-model="weekly">
					<!-- <div ng-bind="weekly.Weekly">
					<! <h3 class="landing-welcome"> Workouts for the week of: {{workout.[0].week_of}}</h3> -->
						<!-- <h3>{{weekly.Weekly.week_of}}</h3> -->
					<div class="weekly" ng-repeat="workout in weekly.Weekly" >
						<h3 class="num-days"> Days per week:	{{workout.days}}</h3>
						<!-- <hr> -->
					  <div>
							<h4 class="names" ng-repeat="workout in workout.workouts">{{workout}}</h4>
					</div>
				</div>
			</div>
</ion-scroll>
