/* muscle group pages */
.workout-names {
  	border-radius: 2px;
  	box-shadow: 4px 4px 2px black;
  	margin-bottom: 15px;
  	border-color: dimgray;
    color: rgb(184, 0, 0);
    text-shadow: 2px 1px gainsboro;
    border-width: 2px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    background-image: url('/img/blackdiamondplate.jpeg');
}
/* this css is also for search page results */
.exercise-tbl {
  background-color: gray;
  box-shadow: 4px 4px 2px black;
  border-radius: 2px;
  border-color: black;
  /*border-width: medium;*/
}
.bold {
  color: rgb(184, 0, 0);
  text-shadow: 1px 1px black;
}
.detail {
  color:black;
  font-weight: bold;
  font-family: 'Special Elite', cursive;
}
