/* muscle group pages */
.workout-names {
  	border-radius: 2px;
  	box-shadow: 4px 4px 2px black;
  	margin-bottom: 15px;
  	border-color: black;
    color: rgb(184, 0, 0);
    text-shadow: 2px 1px gainsboro;
    border-width: 2px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    background-image: url('/img/blackdiamondplate.jpeg');
}
.exercise {
  background-color: gainsboro;
}

/*.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}*/

/* weekly workouts */
.weekly {
  background-color: gainsboro;
  border-radius: 3px;
  box-shadow: 4px 4px 2px black;
}
.num-days {
  font-family: 'Anton', sans-serif;
  /*text-shadow: 1px 1px rgb(184, 0, 0);*/
  /*background-color: gainsboro;*/
  padding: 10px;
  margin:3px;
}

/* on the search page */

.names {
  text-align: center;
  /*background-color: grey;*/
  box-shadow: 4px 4px 2px black;
  font-weight: bolder;
  border-radius: 2px;
  font-family: 'Special Elite', cursive;
  padding: 10px;
}
hr {
  color: black;
}
