/* muscle group pages */
.workout-names {
  /*color: black;
  font-size: 25px;
  font-family: 'Anton', sans-serif;
  text-shadow: 1px 2px rgb(184, 0, 0);
  text-align: center;
  border-radius: 2px;
  background-color: gainsboro;
  box-shadow: 4px 4px 2px black;*/
  /*background-image: url('/img/blackdiamondplate.jpeg');*/
  color: black;
  text-shadow: 1px 1px white;
  text-align: center;
  background-color: grey;
  box-shadow: 4px 4px 2px black;
  font-weight: bolder;
  border-radius: 2px;
  font-family: 'Special Elite', cursive;
  padding: 10px;
}

/* weekly workouts */
.weekly {
  background-color: gainsboro;
  border-radius: 3px;
  box-shadow: 4px 4px 2px black;
}
.num-days {
  font-family: 'Anton', sans-serif;
  /*text-shadow: 1px 1px rgb(184, 0, 0);*/
  /*background-color: gainsboro;*/
  padding: 10px;
  margin:3px;
}

/* on the search page */
.search {
  text-shadow: 1px 1px grey;
  background-color: grey;
  border-color: black;
  box-shadow: 4px 4px 2px black;
}
.search-box {
  border-color: black;
}
.names {
  text-align: center;
  background-color: grey;
  box-shadow: 4px 4px 2px black;
  font-weight: bolder;
  border-radius: 2px;
  font-family: 'Special Elite', cursive;
  padding: 10px;
}
hr {
  color: black;
}
