.search-button {
	border-radius: 2px;
	box-shadow: 4px 4px 2px black;
	margin-bottom: 15px;
	border-color: dimgray;
  color: rgb(184, 0, 0);
  text-shadow: 2px 1px white;
  border-width: 2px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  background-image: url('../img/blackdiamondplate.jpeg');
}

.search {
  text-shadow: 1px 1px black;
  background-color: dimgray;
  border-color: black;
  box-shadow: 4px 4px 2px black;
}
.search-box {
  border-color: black;
}
