/* Empty. Add your own CSS if you like */
@import url(/css/trainingIndex.css);
@import url(/css/landing.css);
@import url(/css/collections.css);
@import url(/css/search.css);

.image {
	border-radius:15px;
	border-style: ridge;
	border-color:red;
}

.img-responsive{
	max-width: 100%;
	height: auto;
	margin-bottom: 1px;
	margin-top: 3px;
	border-radius: 2px;
	border-style: ridge;
	border-color: red;

}

body {
	background-color: rgb(184, 0, 0);
}

h3 {
	font-family: 'Anton', sans-serif;
	/*text-shadow: 1px 1px black;*/
	text-align: center;
}

.highlight_row {
	background-color: seashell;
}
