.training-button {
	border-radius: 2px;
	box-shadow: 4px 4px 2px black;
	margin-bottom: 15px;
	border-color: dimgrey;
}
.training-button a{
	color: rgb(184, 0, 0);
	text-shadow: 2px 1px white;
	border-width: 2px;
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-size: 25px;
	background-image: url('/img/blackdiamondplate.jpeg');
}

.training-button a:link{
	text-decoration: none;

}
.training-button a:visited{
	text-decoration: none;
	color: rgb(184, 0, 0);
	text-shadow: 2px 1px black;
}
